---
extends: hefr.j2
default_block: main
title: Contact
description: Contact
submenu:
  -
    name: Contact 
    url: "#contact"
  -
    name: Certificat
    url: "#certificat"
  -
    name: PGP
    url: "#pgp"
---
<h1 id="contact">Contact</h1>

Jacques Supcik<br/>
Pérolles d'en Haut 5<br/>
1752 Villars-sur-Glâne<br/>
<br/>
<script type="text/JavaScript">
document.write(String.fromCharCode((19+41),(78-13),(118-86),
(33+39),(111-29),(9+60),(23+47),(83-51),(123-62),(99-67),
(124-90),(35+74),(118-21),(29+76),(73+35),(77+39),(47+64),
(126-68),(59+47),(49+48),(114-15),(42+71),(81+36),(22+79),
(124-9),(58-12),(41+74),(65+52),(70+42),(61+38),(125-20),
(55+52),(84-47),(116-64),(59-11),(35+69),(52+49),(27+75),
(120-6),46,(52+47),(118-14),(89-55),(23+39),(39+67),(5+92),
(53+46),(13+100),(25+92),(39+62),(116-1),(79-33),(14+101),
(121-4),(126-14),(1+98),(53+52),(34+73),(119-55),(41+63),
(21+80),(118-16),(31+83),(8+38),(107-8),(111-7),(75-15),
(125-78),(6+59),(69-7)))
</script>

<h1 id="certificat">Certificat X509</h1>

<p style="width: 45em">
Ce certificat est signé par <a href="http://www.cacert.org/">CAcert</a>.
Pour éviter les messages intempestifs, je vous suggère d'installer
<a href="http://www.cacert.org/index.php?id=3">les CAs de CAcert</a>
dans votre logiciel.
</p>

<pre style="width: 45em">
-----BEGIN CERTIFICATE-----
MIIFfjCCA2agAwIBAgIDDLduMA0GCSqGSIb3DQEBBQUAMHkxEDAOBgNVBAoTB1Jv
b3QgQ0ExHjAcBgNVBAsTFWh0dHA6Ly93d3cuY2FjZXJ0Lm9yZzEiMCAGA1UEAxMZ
Q0EgQ2VydCBTaWduaW5nIEF1dGhvcml0eTEhMB8GCSqGSIb3DQEJARYSc3VwcG9y
dEBjYWNlcnQub3JnMB4XDTEzMDExMTIyMzIxOVoXDTE1MDExMTIyMzIxOVowQDEX
MBUGA1UEAxMOSmFjcXVlcyBTdXBjaWsxJTAjBgkqhkiG9w0BCQEWFmphY3F1ZXMu
c3VwY2lrQGhlZnIuY2gwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCl
/KZSujU0KbVN5RuLO9yKmz9Bp1GPEUkGsQ/p5kFiZqiVqzEeSs0UaVuHqhWMSMzZ
FXCxhQR3UsEP3mGyD0/+mXQwoarVC23FRW613K/k9lbQEL6ZjmvCjc1xfC8aYeqp
oYXwoWZmKJgoAwOEdo6VqRs5PTg2vUMGcQ2bw6Y5kCH7YHuwQLBF0ap28rRTjwd4
QybM6QDa04RdWDLy/tf8UL6xO2hzVyTfQhGCKUMCFnLCM9/FLgTCixLRSGMr5b6q
8kj4MvUS2um8hu/b2FLFMHNqVZJk3t99XYjFWmoCPZz6KShLAYpUnVnsdOSAGxpQ
n4n2RUm2eUNsX5Dvtu/3AgMBAAGjggFGMIIBQjAMBgNVHRMBAf8EAjAAMFYGCWCG
SAGG+EIBDQRJFkdUbyBnZXQgeW91ciBvd24gY2VydGlmaWNhdGUgZm9yIEZSRUUg
aGVhZCBvdmVyIHRvIGh0dHA6Ly93d3cuQ0FjZXJ0Lm9yZzAOBgNVHQ8BAf8EBAMC
A6gwQAYDVR0lBDkwNwYIKwYBBQUHAwQGCCsGAQUFBwMCBgorBgEEAYI3CgMEBgor
BgEEAYI3CgMDBglghkgBhvhCBAEwMgYIKwYBBQUHAQEEJjAkMCIGCCsGAQUFBzAB
hhZodHRwOi8vb2NzcC5jYWNlcnQub3JnMDEGA1UdHwQqMCgwJqAkoCKGIGh0dHA6
Ly9jcmwuY2FjZXJ0Lm9yZy9yZXZva2UuY3JsMCEGA1UdEQQaMBiBFmphY3F1ZXMu
c3VwY2lrQGhlZnIuY2gwDQYJKoZIhvcNAQEFBQADggIBAKd3LJr/6Y5zHPGK/XdA
PKTgtXtO5C6Bi2wsiBj6V2SEe/IiRjjQKnAKDWGG48vJHmIsg1FYPwBgsvixjQXX
rpYk+axy2/P/ABgUyAon2ZdQq7O99DQeoo+6U9ako82aHkxj4eXRpuW+9FHAGRoq
HBALpNxzi52Iu8ZbwAfkE1enWjB8/UXBE9AP4ju+Y//G2LUx1U+x4I/8DXBiC/YH
vcJBqQG6RZhQzfvCTCU9zWT4rCX3XLnWZst+lgsFprppaQL1TA+CrxdZcwB2koHJ
SHqM/+sb4Nk+uPJIDBSaVNQnN9AK0VQCUbBngDMR8H7jNh+4wdZErjsS9f3eDhGC
Xfz0sQFFRhojXxBg7vUk4NgxbCgVpuPLxN6nGH2qvWLe2PTn0YpqPvsB59Wzja4w
Ddlp1FKQ2UmffEK2GryXQjM4+S8VzDk3i+y5mS1mylqlDwvxk7SK6bQeRtP8lykc
BdKMMeL+dW1r9iLphHTKS9Icv6HplqxaZzGf16H/8oCvaaTPfrYXwxXa145RNoNj
td7VZTztv9VByKvnj1r3sZTyuBedWUDPlp1xjxYF1EH0f1VG9vxUZnD0rJLBpFfs
WoUA7RoQV9MLj5DioYIWIipufKQck6/tX8Mt8rzh3M+YEQ/mLpkhi5Dmz225Sl1W
rvXLtRhtLD/cca6q3kboCXpT
-----END CERTIFICATE-----
</pre>

<h1 id="pgp">PGP</h1>

<pre style="width: 45em">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.11 (GNU/Linux)

mQENBFDwlbUBCAC7LuGaLaJKUm2+1XcgKmgX6Ox+zYo1pRoPs/paQS5aTTcZcOEK
k4UmL+K6lrUQdDV6Q3norh6eHoNUG2gHvVlqksqsMpywL8IlC8OnAYaomigeIIyy
X+Ws3YWT9dvRMG0uo86J/xmFruuEsWefHVGjCUsAQWlFeZSmvaY+NfZbujnpNB6n
AZYcONNQbQB+tSpxnSZqWBNQN8Jsbz6mqKBCk3h3+esgJlpr8R28+glJqCVFzjNd
2Osb5MuXQFOYguJgzn3Wlt4559QuKVKs0N1uRKMaGYy4kn/83Hl8J6VOursBZQCe
Ss4wdGExmjTNZK6DomvJ39w3d6oZZeOvDuUbABEBAAG0J0phY3F1ZXMgU3VwY2lr
IDxqYWNxdWVzLnN1cGNpa0BoZWZyLmNoPokBOAQTAQIAIgUCUPCVtQIbAwYLCQgH
AwIGFQgCCQoLBBYCAwECHgECF4AACgkQ6rAfkwAuSTQfkQf/RoH3Lvn06qSIHX88
Xb4r1VP+h12lAfhLIL1pkne4GcYuddTqwh5Vm6mqJsWlY9a0cr4a2ec7gxmbNPfU
oKeaw8TqLkJalcbaqjhW/UA69Yl/S5vWxmkwSyIaBdLyOcXXJQPmj2PpXEnfltm4
BYcVpakyqfGSVcamTST7KPx7vn21+K6mu1igG1Rbbx/nBN6UPBvTwgMlABzi2Q3A
JrCKjZOyXsisPRoW10/LRhWPBUs3ie+P0rk8mJ/M0NSvfY4Vd01DfRbUzERC5Xh2
yxJWHFJfhjB7GEVKaC/r1LgOEJmFd1kq9eL8OvVW+8MfU6XfODM7LfdBxvdksLgL
kk7lE7kBDQRQ8JW1AQgA2GBbL9tWJVlNifAnYQdn918FgyCsnLgiway7twxkPrhF
BuklQ1Ba4KAINGsRdNOCq43m3dq0J3ym/WzbG9GMWzIHJggEBx7SpkR7yE6BVot5
YYy+73wyyDhEuq+wtZ5Qhkol6gczhh/FhSfTcU+ym8nWzqah14awCriLbcFq0KTs
p43iXHh0RZze2UbRbE16qk5DOgkFV+b33dyXghwejPsZSUCqBrL1xWWMG1Oygw7M
kLi1OYk8lFpImMPbc5FnsMRwlviYtYPhPrsEcYEWFNAlfbkWlAtkdqwWbwMYGizQ
M1nuRUFEidDsrb/NhAdA4porJoFegMrFr/tMI/Qk6wARAQABiQEfBBgBAgAJBQJQ
8JW1AhsMAAoJEOqwH5MALkk0XSUH/R6YC04d412fV31zM3ii7i89hl/n6UOzw7l8
FsK7gZ/XtZFH2qz4rhM33bnTUDxjUixs0HTRAoxoN9p7xTtBItNS8Avnh1MxDwGD
15gRltWEyKjxfi7fBpvT8YIVPwwsUvW7+ItLIN/zIMyU2b0Od4HcVOPMBWKGUnX/
3PEhslMAkx807WQObj6JY5GQK0+buw+ak/7+HeSZRH1sle7IWYb2lqBEKMguhBvL
V6pDobICiJIpZZ/XSx3x3GdD19ZO8lW22N31HA1IJG2+6O/1LW9GGPpB4EHl0APt
azzIKHUO8PJht/cFg9eNOuBIgcyyyJHlRHGCzY83K0Kv9wK5Hfw=
=8sqR
-----END PGP PUBLIC KEY BLOCK-----
</pre>

