---
extends: hefr.j2
default_block: main
title: Accueil
description: Home page de Jacques Supcik
---
<div>
<div class="portrait">
    <img src="static/images/portrait.jpg" alt="Jacques Supcik" />
</div>
<div class="title">Bienvenue sur la home page de Jacques Supcik.</div>
</div>

