---
extends: hefr.j2
default_block: main
title: Liens
description: Home page de Jacques Supcik
submenu:
  -
    name: Privé
    url: "#private"
  -
    name: Réseaux sociaux
    url: "#social"
  -
    name: Autres
    url: "#other"
---
{% macro item(url, name) %}
<li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
{% endmacro %}
<h1 id="private">Privé</h1>
<ul>
{{ item("http://www.supcik.net", "Home page privée") }}
</ul>

<h1 id="social">Réseaux Sociaux</h1>
<ul>
{{ item("http://plus.google.com/u/0/114365323895730106325", "Google+") }}
{{ item("http://ch.linkedin.com/in/supcik", "LinkedIn") }}
{{ item("http://www.facebook.com/jacques.supcik", "Facebook") }}
{{ item("http://twitter.com/supcik", "Twitter") }}
</ul>

<h1 id="other">Autres</h1>
<ul>
{{ item("http://www.frosc.ch", "FROSC - Fribourg Open Source Community") }}
{{ item("http://www.fribot.org", "Fribot") }}
</ul>

