<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Homepage - {{ full_name }}</title>
    <meta name="description" content="{{ resource.meta.description }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp"/>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-responsive.css" media="screen">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/site.css"/>
  </head>
    
  <body>
    <div class="container" id="site">
      <div class="row">
        <div class="span2">
          <div class="logo_entity">
            <img src="static/images/logo_tic.jpg" alt="TIC"/>
          </div>
          <div id="subMenu">
              <span>{{ resource.meta.title }}</span>
              {% if resource.meta.submenu %}
              <ul>
              {% for item in resource.meta.submenu -%}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
              {% endfor %}
              </ul>
              {% endif %}
          </div>
        </div>
        <div class="span10">
          <div id="header" class="row">
            <div class="span6">
                <div class="logo_eiafr">
                  <img src="static/images/logo_eiafr.png" alt="EIA-FR"/>
                </div>
            </div>
            <div class="span4">
              <div class="head-title">Homepage - {{ full_name }}</div>
            </div>
          </div>
<div class="fix-navbar">          
<div class="navbar">
  <div class="navbar-inner fix-navbar-inner">
            {% from "macros.j2" import render_nav with context %}
            {{ render_nav(menu) }}
    
  </div>
</div>            
</div>          
          <div id="content">

        

            {% block main %}
            {% endblock main %}
          </div>
        </div>
      </div>
      <div class="row">
        <div id="footer" class="span12">
          &copy; 2013 <a title="Ecole d'ingénieurs et d'arcitectes de Fribourg" href="http://www.eia-fr.ch/"
                         target="_blank">EIA-FR</a>
          | powered by
          <a title="hyde: static website generator" href="http://hyde.github.com/" target="_blank">hyde</a>
          and
          <a title="Bootstrap: Sleek, intuitive, and powerful front-end framework for faster and easier web development"
             href="http://twitter.github.com/bootstrap/" target="_blank">boostrap</a>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
