{% macro render_nav(menu) -%}
{% if menu -%}
<ul class="nav">
    {% for item in menu -%}
    {% set active = False -%}
    {% if item.type == 'page' -%}
        {% set active = (resource.url ==
            site.content.resource_from_relative_path(item.url).url) -%}
    {% else -%}
        {% set active = (node ==
            site.content.node_from_relative_path(item.url)) -%}
    {%- endif %}
    <li{% if active %} class="active"{% endif %}>
        <a title="{{ item.description }}" href="{{ content_url(item.url) }}">{{ item.name }}</a>
    </li>
    {%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}
