/* CSS for pages layout */

/* Init styles */
* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
}
body{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 0.6875em;
    line-height: normal;
    background-color: #eee;
}
img{
    border: 0px;
}
div#site{
    position: relative;
    width: 900px;
    margin: 0 auto;
    border: 1px #cdcdcd solid;
    background-color: #fff;
}

/* Header */
div#header{
    padding-bottom: 45px;
}
img#logo_eiafr{
    position: absolute;
    top: 15px;
    left: 175px;
}
img#logo_entity{
    position: absolute;
    top: 0;
    left: 25px;
}
div#header h1{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #b30838;
}
span#lang{
    position: absolute;
    top: 40px;
    right: 10px;
}
a#activeLang{
    font-weight: bold;
}
ul#menu{
    margin: 60px 0 0 165px;
    padding-left: 10px;
    line-height: 1.82em;
    background-color: #b30838;
}
ul#menu li{
    display: inline;
}
ul#menu a{
    color: #fff;
}
ul#menu a#active{
    font-weight: bold;
}

/* Left */
div#subMenu{
    float: left;
    width: 140px;
}
div#subMenu span{
    display: block;
    padding-left: 25px;
    font-weight: bold;
    color: #b30838;
    border-bottom: 1px #cdcdcd solid;
}
div#subMenu ul{
    margin-left: 25px;
    list-style-type: none;
}
div#subMenu li{
    padding: 10px 0 5px;
    border-bottom: 1px #cdcdcd solid;
}
div#subMenu a{
    color: #b30838;
}

/*  Right*/
div#content{
    float: right;
    width: 710px;
    min-height: 400px;
    line-height: 1.5em;
    margin: 0 25px 25px 0;
    text-align: justify;
}
div#content ul{
    padding-left: 25px;
}

/* Footer */
div#footer{
    clear: both;
    line-height: 2.73em;
    text-align: center;
    color: #fff;
    background-color: #b30838;
}
