div.logo_entity {
  margin-top: 10pt;
}

div.logo_eiafr {
  margin-top: 10pt;
}

div.menu {
	 padding-bottom: 10pt;
}

ul#menu {
  background-color:#B30838;
  line-height:1.82em;
  margin: 0 0 0 0;
  padding-left:10px;
}

ul#menu li {
  display:inline;
}

ul#menu a {
  color:#FFFFFF;
}

ul#menu a#active {
  font-weight:bold;
}

div#subMenu span {
  border-bottom-color:#CDCDCD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  color:#B30838;
  display:block;
  font-weight:bold;
}

div#subMenu ul {
  list-style-type:none;
  margin-left:1em;
}

div#subMenu li {
  border-bottom-color:#CDCDCD;
  border-bottom-style:solid;
  border-bottom-width:1px;
  padding:10px 0 5px;
}

div#subMenu a {
  color:#B30838;
}


div#footer {
  background-color:#B30838;
  color:#FFFFFF;
  line-height:2em;
  text-align:center;
  margin-top:2em;
}

.portrait {
  float: left;
  /* width: 200px; */
  padding-right: 30pt;
}

.welcome {
  float: right;
  font-size: 3em;
  font-weight: bold;
  line-height: normal;
  text-align: left;
  padding-top: 20px;
  margin-left: 25px;
  width: 480px;
}

.title {
  color: #B30838;
  font-size: 3em;
  font-weight: bold;
  line-height: normal;
}

div#header {
  padding-bottom: 20px;
  position: relative;
}

div#subMenu {
    margin-top: 25px;
}


div#content {
   min-height:400px;
}

div#footer a {
    color: #FFFFFF;
}

h1~h1 {
  padding-top: 1.5em;
}

.head-title {
  color: #B30838;
  position: absolute;
  right: 1pt;
  top: 25pt;
  font-size: 1.27em;
  font-weight: bold;
  padding-bottom: 1em;
}

.fix-navbar .navbar-inner {
		padding-left: 0;
	 background-image: -moz-linear-gradient(top, #BC2751, #B30838);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BC2751), to(#B30838));
  background-image: -webkit-linear-gradient(top, #BC2751, #B30838);
  background-image: -o-linear-gradient(top, #BC2751, #B30838);
  background-image: linear-gradient(to bottom, #BC2751, #B30838);	
}

.fix-navbar .nav > li > a {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #666666;
}

.fix-navbar .nav > li > a:focus,
.fix-navbar .nav > li > a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.fix-navbar .nav > .active > a, .fix-navbar .nav > .active > a:hover, .fix-navbar .nav > .active > a:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    text-shadow: 0 1px 0 #aaaaaa;
}