/* CSS for pages styles */

/* Init styles */
h1{
    font-weight: bold;
    font-size: 1.27em;
    line-height: normal;
    padding-bottom: 1em;
}
h2{
    font-weight: bold;
    font-size: 1.091em;
    line-height: normal;
    padding-bottom: 0.5em;
}
h3{
    font-weight: bold;
}
a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

/* Info */
div#content h1{
    color: #b30838;
}
div#content h2{
    color: #b30838;
}
div#content h3{
    color: #b30838;
}
div#content a{
    color: #b30838;
}

/* Content styles */
.bold{
    font-weight: bold;
}
table#cv td{
    vertical-align: top;
}
table#cv td#colSize1{
    width: 210px;
}
table#cv td#colSize2{
    width: 130px;
}
table#cv td#colSize3{
    width: 370px;
}
div.pubTIC{
    margin-left: 20px;
    margin-bottom: 10px;
}
table#hobby{
    border-spacing: 20px;
}
table#hobby td{
    text-align: center;
}
